<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Blog Site</h1>
    <form action="/blogs" method="POST">
        Title: <input type="text" name="title" placeholder="Enter Title"><br>
        Actor: <input name="actor" placeholder="Enter Actor" type="text"></textarea><br>
        Content: <textarea name="content" placeholder="Write the content here for your blog......" type="text"></textarea><br>

        <button type="submit">Add Blog</button>
    </form>
    <ul>
        {{#each blogs as |blog|}}
<li>Title: {{blog.title}}<br>Actor: {{blog.actor}} <br><br> Content: {{blog.content}}<br>
      <button>
            <a href="/delete?id={{blog._id}}">Delete</a>
        </button>
        <button>
            <a href="/update?id={{blog._id}}">Update</a>
        </button>
</li>
        {{/each}}

  
    </ul>
</body>
</html>